/europeana_record_uviews_monthly_1_views/
/Analytics Filtered view (to use) Pages 20190101-20191231 (1).csv
/Analytics Filtered view (to use) Pages 20190101-20191231 (2).csv
/Analytics Filtered view (to use) Pages 20190101-20191231 (3).csv
/Analytics Filtered view (to use) Pages 20190101-20191231 (4).csv
/Analytics Filtered view (to use) Pages 20190101-20191231 (5).csv
/Analytics Filtered view (to use) Pages 20190101-20191231.csv
/Analytics Filtered view (to use) Pages 20190101-20191231_combined.csv
/europeana_record_uviews_2019.csv
/europeana_record_uviews_2019_1views.csv
/europeana_record_uviews_2020.csv
/europeana_record_uviews_combined.csv
