<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="${context}/static/lab.css" type="text/css">
		<title>Dates Normalization Testing Tool - R&D Prototype</title>
	</head>
<body>
<#include "../banner.include.html">
<h2>About the prototype</h2>
<p>This prototype is a work in progress. It aims to support the work at Europena on the normalisation of date values in EDM.
<br />Currently, not all planned functionalities are implemented. The extraction of approximate, unknown and uncertain dates is only partially implemented.</p> 

<p>This tool provides the following:</p>
<ul>
	<li><a href="${context}/check_europeana">Test date normalisation on a record in Europeana</a></li>
	<li><a href="${context}/normalize_value">Normalise a date value</a></li>
</ul>

<h2>Statistics of the Europeana dataset</h2>
<p>The tool has been applied to the whole Europeana dataset. Some statistics regarding the matched date patterns may be accessed in the following links:</p>
<ul>
	<li><a href="${context}/static/MatchesByPattern.html">Occurrences across the whole dataset</a></li>
	<li><a href="${context}/static/MatchesByCollection.html">Occurrences by collection</a></li>
	<li><a href="${context}/static/MatchesByClass.html">Occurrence by class</a></li>
	<li><a href="${context}/static/MatchesByClassAndProperty.html">Occurrence by class and property</a></li>
</ul>

<#include "../footer.include.html">

</body>
</html>