<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="${context}/static/lab.css" type="text/css">
		<title>Dates Normalization Testing Tool - R&D Prototype</title>
	</head>
<body>
<#include "../banner.include.html">
<h2>About the prototype</h2>
<p>This prototype is a work in progress. It aims to support the work at Europena on the normalisation of date values in EDM.
<br />Currently, the software is in alpha stage.</p> 

<p>This tool provides the following:</p>
<ul>
	<li><a href="${context}/check_europeana">Test date normalisation on a record in Europeana</a></li>
	<li><a href="${context}/normalize_value">Normalise a date value</a></li>
</ul>

<h2>Statistics of the Europeana dataset</h2>
<p>The tool has been applied to the whole Europeana dataset. Some statistics regarding the matched date patterns may be accessed in the following links:</p>
<ul>
	<li><a href="${context}/static/MatchesByPattern.html">Occurrences across the whole dataset</a></li>
	<li><a href="${context}/static/MatchesByCollection.html">Occurrences by dataset</a></li>
	
	<li>Occurrences by class:
		<ul>
			<li><a href="${context}/static/MatchesByClassEuropeana.html">from Europeana's metadata</a></li>
			<li><a href="${context}/static/MatchesByClassProvider.html">from provider's metadata</a></li>
		</ul>
	</li>
	<li>Occurrences by class and property:
		<ul>
			<li><a href="${context}/static/MatchesByClassAndPropertyEuropeana.html">from Europeana's metadata</a></li>
			<li><a href="${context}/static/MatchesByClassAndPropertyProvider.html">from provider's metadata</a></li>
		</ul>
	</li>
</ul>

<p>The properties dc:subject and dc:coverage have been analysed separately because they are expected to contain non-date values in most cases.
The statistics for these properties can be accessed in the following links:</p>
<ul>
	<li>Occurrences of dc:coverage and dc:subject in ore:Proxy:
		<ul>
			<li>from Europeana's metadata (no occurrences found)</li>
			<li><a href="${context}/static/MatchesByClassAndPropertyProviderCoverageSubject.html">from provider's metadata</a></li>
		</ul>
	</li>
</ul>

<h2>Statistics of the Newspapers thematic collection</h2>
<p>The tool has been applied to the datasets that are part of the Newspapers thematic collection. Some statistics regarding the matched date patterns may be accessed in the following links:</p>
<ul>
	<li><a href="${context}/static/newspaper/MatchesByPattern.html">Occurrences across all the datasets</a></li>
	<li><a href="${context}/static/newspaper/MatchesByCollection.html">Occurrences by dataset</a></li>
	<li>Occurrences by class:
		<ul>
			<li><a href="${context}/static/newspaper/MatchesByClassEuropeana.html">from Europeana's metadata</a></li>
			<li><a href="${context}/static/newspaper/MatchesByClassProvider.html">from provider's metadata</a></li>
		</ul>
	</li>
	<li>Occurrences by class and property:
		<ul>
			<li><a href="${context}/static/newspaper/MatchesByClassAndPropertyEuropeana.html">from Europeana's metadata</a></li>
			<li><a href="${context}/static/newspaper/MatchesByClassAndPropertyProvider.html">from provider's metadata</a></li>
		</ul>
	</li>
</ul>
<p>The statistics for the properties dc:subject and dc:coverage can be accessed in the following links:</p>
<ul>
	<li>Occurrences of dc:coverage and dc:subject in ore:Proxy:
		<ul>
			<li>from Europeana's metadata (no occurrences found)</li>
			<li><a href="${context}/static/newspaper/MatchesByClassAndPropertyProviderCoverageSubject.html">from provider's metadata</a></li>
		</ul>
	</li>
</ul>

<p>Analysis if the use of <a href="${context}/static/newspaper/NewspapersIssuedDates.html">dcterms:issued in the Newspaper Collection</a></p>

<#include "../footer.include.html">

</body>
</html>