<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="${context}/static/lab.css" type="text/css">
		<title>Dates Normalization Testing Tool - R&D Prototype</title>
	</head>
<body>
<#include "../banner.include.html">
<h2>About the prototype</h2>
<p>This prototype is a work in progress. It aims to support the work at Europena on the normalization of date values in EDM.</p> 

<p>This tool provides the following:</p>
<ul>
	<li><a href="${context}/check_europeana">Test date normalization on a record in Europeana</a></li>
	<li><a href="${context}/normalize_value">Normalize a date value</a></li>
</ul>

<p>For using the tool, follow the link for the type of solution to be tested.</p>

<p>The tool has been applied to the whole Europeana dataset. Some statistics regarding the matched date patterns may be accessed in the following links:</p>
<ul>
	<li><a href="${context}/static/MatchesByPattern.html">Occurrence of date patterns across the whole dataset</a></li>
	<li><a href="${context}/static/MatchesByCollection.html">Occurrence of date patterns by collection</a></li>
</ul>

<#include "../footer.include.html">

</body>
</html>